.searchBtn {
	color: #0c0c0c !important;
	background-color: #d8d8d8 !important;
}

.searchBtn:hover,
.searchBtn:focus {
	color: #ffffff !important;
	background-color: #c3c3c3 !important;
	border: none !important;
}

.searchBtn {
	color: white;
	background-color: #0000FF;
}

.btnGroup>.el-button {
	background: #e5f2f5;
}

.btnGroup>.el-button:hover,
.btnGroup>.el-button:active {
	border: 1px solid #c1f3ff;
	color: #137288;
	box-shadow: 0 0 3px #b2c9d2 inset;
}

.btnGroup>.el-button.activeBtn {
	background: #a0eafb;
	color: #443f01;
	box-shadow: 0 0 5px #bcd0d0 inset;
}

/* .udpBtn {
	color: #92760b !important;
}

.udpBtn:hover,
.udpBtn:focus {
	color: #b97e0e !important;
	font-weight: bold;
} */
.noBackCheck.el-checkbox-button .el-checkbox-button__inner,
.noBackCheck.el-radio-button .el-radio-button__inner {
	border: none;
	background: none;
	font-size: 14px;
	border-left: none !important;
}

.noBackCheck.el-checkbox-button .el-checkbox-button__inner:hover,
.noBackCheck.is-checked.el-checkbox-button .el-checkbox-button__inner,
.noBackCheck.el-radio-button .el-radio-button__inner:hover,
.noBackCheck.is-active.el-radio-button .el-radio-button__inner {
	color: #409eff;
	font-weight: bold;
	background: none;
}

.cancleBtn {
	background-color: #bbd5ef !important;
	color: #0a5096 !important;
	border: none !important;
}

.cancleBtn:hover,
.cancleBtn:focus {
	font-weight: bold !important;
	background-color: #9bbee2 !important;
	color: #fff !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25) !important;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.el-button .el-loading-spinner {
	margin-top: -8px;
}

.optBtn {
	border-color: #0181ff !important;
	background-color: #0181ff !important;
	color: #ffffff !important;
}

.optBtn:hover,
.optBtn:focus {
	background-color: rgb(1, 129, 255, 0.8) !important;
	color: #ffffff !important;
}

.optBtn4 {
	color: #409eff !important;
	background: #ecf5ff !important;
	border-color: #b3d8ff !important;
}

.optBtn4:hover,
.optBtn4:focus {
	background-color: #0181ff !important;
	color: #ffffff !important;
}

.optBtn4.is-disabled {
	background-color: #c0c9d2 !important;
	color: #ffffff !important;
	border-color: #a09b9b !important;
	box-shadow: 0 0 5px #fff inset;
}

.optBtn2 {
	background: linear-gradient(to bottom right, #ecf1c0, #e4ff3b, #fff79c) !important;
	color: #caaa08 !important;
}

.optBtn2:hover,
.optBtn2:focus {
	font-weight: bold !important;
	color: #f18e0f !important;
	border: none;
}

.optBtn3 {
	/* background: linear-gradient(to bottom right, #bff5f3, #e9f6ff, #ddfffe) !important; */
	background: linear-gradient(to bottom right, #b3f5d7, #d5ebfb, #cbffe5) !important;
	color: #657f8c !important;
}

.optBtn3:hover,
.optBtn3:focus {
	font-weight: bold !important;
	color: #47c2ff !important;
	border: none;
}

.forbidBtn {
	color: #fff !important;
	background: #a20000 !important;
	border-color: #a20000 !important;
}

.forbidBtn:hover,
.forbidBtn:focus {
	font-weight: bold !important;
	color: #fff !important;
	border: none;
}

/* .optBtn {
	border-color: rgba(0, 0, 0, 0.1) !important;
	color: #008DFF !important;
}

.optBtn:hover,
.optBtn:focus {
	border: 1px solid #008DFF !important;
	background-color: #eef8ff !important;
	color: #0078EB !important;
	font-weight: bold;
} */

.udpBtn {
	color: #008DFF !important;
	font-size: 14px;
}

.udpBtn:hover,
.udpBtn:focus {
	color: #0078EB !important;
	font-weight: bold;
}

.sureBtn {
	width: 100px !important;
	height: 30px !important;
	background: linear-gradient(to right, #5760D4, #008DFF) !important;
	font-size: 14px;
	color: #fff !important;
}

.sureBtn:hover,
.sureBtn:focus {
	background: linear-gradient(to left, #5760D4, #008DFF) !important;
	/* font-size: 14px; */
	color: #fff !important;
}

.cancelBtn {
	width: 100px !important;
	height: 30px !important;
	border-color: rgba(0, 0, 0, 0.1) !important;
	color: #008DFF !important;
}

.cancelBtn:hover,
.cancelBtn:focus {
	border: 1px solid #008DFF !important;
	background-color: #eef8ff !important;
	color: #0078EB !important;
}

.refBtn {
	background-color: #DCDFE6 !important;
	color: #3e3939 !important;
	border: none !important;
}

.refBtn:hover,
.refBtn:focus {
	font-weight: bold !important;
	background-color: #dcdcdc !important;
	color: #3e3939 !important;
	font-weight: 900;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25) !important;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.hadBtn {
	background-color: #00C2C3 !important;
	color: #fff !important;
	border: none !important;
}

.hadBtn:hover,
.hadBtn:focus {
	font-weight: bold !important;
	background-color: #04a8a9 !important;
	color: #ffffff !important;
	font-weight: 900;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25) !important;
	box-shadow: 0 1px 3px rgba(43, 69, 72, 0.6);
}

.addBtn {
	background-color: #1a91bc !important;
	color: #fff !important;
	border: none !important;
	letter-spacing: 2px;
}

.addBtn:hover,
.addBtn:focus {
	font-weight: bold !important;
	background-color: #1c7c9e !important;
	color: #fff !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25) !important;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.delBtn {
	background-color: #ffb515 !important;
	color: #fff !important;
	border: none !important;
	letter-spacing: 2px;
}

.delBtn:hover,
.delBtn:focus {
	font-weight: bold !important;
	background-color: #fc9200 !important;
	color: #fff !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25) !important;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.viewBtn {
	background-color: #ebf5f5 !important;
	color: #565858 !important;
	border: 1px solid #8ab1b0 !important;
	letter-spacing: 2px;
}

.viewBtn:hover,
.viewBtn:focus,
.viewBtn.is-active {
	font-weight: bold !important;
	background-color: #57a583 !important;
	color: #fff !important;
}

.title-btn {
	background: none;
	border-color: #086b5b;
	color: #d7f3f0;
}

.title-btn:hover,
.title-btn:focus {
	color: #fff;
	background-color: #068c7f;
}

.title-btn.activeBtn,
.title-btn.activeBtn:hover,
.title-btn.activeBtn:focus {
	color: #fff703;
	background-color: #068c7f;
	text-shadow: 0 0 5px #fffbc3;
	box-shadow: 0 0 5px #fdffd3 inset;
	border: 1px solid #edf1ca;
}

.quitBtn {
	color: #e2e4c9 !important;
	font-weight: bold !important;
	margin-left: 8px;
}

.quitBtn:hover,
.quitBtn:focus {
	color: #f99901 !important;
	font-weight: bold !important;
}

.login-btn.cancelBtn {
	color: #fff !important;
	background: linear-gradient(to right, #3E65AD, #4D75BE) !important;
}

.login-btn.cancelBtn:hover,
.login-btn.cancelBtn:focus {
	color: #fff !important;
	background: linear-gradient(to left, #3E65AD, #4D75BE) !important;
}

.login-btn.sureBtn {
	color: #fff !important;
	background: linear-gradient(to right, #7dd8ff, #009adc) !important
}

.login-btn.sureBtn:hover,
.login-btn.sureBtn:focus {
	color: #fff !important;
	background: linear-gradient(to right, #009adc, #7dd8ff) !important
}
