
	#home {
		width: 100%;
		height: 100%;
		background-color: $baseColor;
	}

	#home>.upperTop {
		// background: url(/img/top.png);
		// background-repeat: no-repeat;
		// background-position: center;
		// background-size: cover;
		background-color: $top-back;
		width: 100%;
		height: 95px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	#home>.main-contents {
		width: 100%;
		height: calc(100% - 95px);
		position: relative;
		display: flex;
		flex-direction: row;
		overflow: auto;
	}

	#home>.main-contents>.left {
		height: 100%;
		background-color: $left-menu-back;
		position: relative;
		width: 250px;
		left: 0;
		display: flex;
		transition: all 0.15s ease 0s;
	}

	#home>.main-contents>.left.foldAble {
		left: -245px;
		position: absolute;
		//width: 5px;
		//animation:foldMenu 1s ease 0s
	}

	//@keyframes foldMenu
	// #home>.main-contents>.left.foldAble>div:first-child{
	// 	display: none !important;
	// 	opacity: 0;
	// }
	#home>.main-contents>.left>div:first-child {
		width: calc(100% - 5px);
		//transition: all 1s ease 0s;
		height: 100%;
	}

	#home>.main-contents>.right.foldAble {
		width: 100% !important;
	}

	#home>.main-contents>.left>.foldMenu {
		height: 100%;
		width: 0;
		border-right: 5px solid $left-menu-border-color;
	}

	#home>.main-contents>.left>.foldMenu::after {
		content: "";
		top: 50%;
		position: absolute;
		right: -10px;
		display: block;
		width: 0;
		height: 0;
		border-width: 5px;
		border-style: solid;
		z-index: 1000;
		border-color: transparent transparent transparent $left-menu-border-color;
	}

	#home .logo-title {
		margin-left: 10px;
		background-image: url(/img/logo.png);
		width: 240px;
		height: 80px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}

	#home .logo-title .img {
		width: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#home>.upperTop .logo-name {
		font-size: 32px;
		color: $top-title-color;
		letter-spacing: 3.43px;
		margin-left: 5%;
		height: 65px;
	}

	#home .logo-title {
		color: $top-title-color;
		font-size: 14px;
		font-weight: 700;
	}

	#home .logo-title>.logoFont {
		margin-left: 5px;
	}

	#home .logo-title .logo-unit1 {
		letter-spacing: 3px;
	}

	#home .logo-title .logo-unit2 {
		letter-spacing: 12.6px;
	}

	//一级标题背景
	#home>.main-contents>.left .el-submenu__title {
		border: none;
		background-color: $left-menu-back  !important;
	}

	//二级标题背景
	.el-menu-item {
		margin: 10px;
		border-radius: 5px;
		padding: 0 20px !important;
		background-color: $left-menu-back;
	}

	#home>.main-contents>.left .systitle {
		display: flex;
		width: calc(100% - 60px);
		padding: 0 20px;
		height: 55px;
		align-items: center;
		font-size: 18px;
		font-weight: 600;
		justify-content: center;
		color: $left-title-font;
	}

	//一级标题active
	#home>.main-contents>.left .el-submenu.is-active {
		// border-left: 5px solid #0293dd;
		background-color: $left-menu-back;
		// border-bottom: none;
	}

	#home>.main-contents>.left .el-submenu.is-active .el-submenu__title {
		//background: #0293dd !important;
		color: $left-menu-font !important;
		font-weight: bold;
	}

	//二级标题Active
	.el-menu-item.is-active,
	.el-menu-item.is-active:hover,
	.el-menu-item.is-active:focus {
		// background: linear-gradient(to left, #5760D4, #008DFF);
		color: $left-menu-font !important;
		background-color: #209e91 !important;
		text-shadow: 1px 0 1px #f1eb71 !important;
		font-weight: 500;
	}

	//一级标题hover
	#home>.main-contents>.left .el-submenu .el-submenu__title:hover,
	#home>.main-contents>.left .el-submenu .el-submenu__title:focus {
		color: #f3f2c7 !important;
		font-weight: bold;
	}

	.el-menu-item::after,
	.el-submenu__title::after {
		content: '';
		position: absolute;
		border-bottom: 1px solid #000;
		left: 51%;
		right: 51%;
		bottom: 0px;
		transition: all 0.5s cubic-bezier(0, 0.98, 0.51, 0.93) 0s;
	}

	.el-menu-item:hover::after,
	.el-submenu__title:hover::after,
	.el-menu-item:focus::after,
	.el-submenu__title:focus::after {
		left: 0%;
		right: 0%
	}

	//二级标题hover
	.el-menu-item:hover,
	.el-menu-item:focus {
		color: $left-menu-font-active !important;
		background-color: $left-menu-back  !important;
		transition: all 1s ease 0;
		//font-weight: 600;
		//letter-spacing: 2px;
	}

	//一级标题间距
	#home>.main-contents>.left .el-submenu {
		border-bottom: 2px solid $left-menu-back;
	}

	//一级标题打开
	#home>.main-contents>.left .el-submenu.is-opened .el-submenu__title {
		color:$left-menu-one-open !important;
	}

	#home>.main-contents>.left .iconfont,
	.el-submenu>.el-submenu__title .el-submenu__icon-arrow,
	.el-menu--popup .iconfont {
		color: inherit;
	}

	//一二级标题颜色
	.el-submenu__title,
	.el-menu-item {
		color: $left-menu-font !important;
		font-size: 16px !important;
	}

	#home>.main-contents>.left>.menu {
		border-right: none;
	}

	#home>.main-contents>.left .el-submenu__title {
		transition: all 0.5s;
	}

	//折叠一级标题不显示
	#home>.main-contents>.left .el-menu--collapse .el-submenu__title>span,
	#home>.main-contents>.left .el-menu--collapse .el-submenu__title>.el-submenu__icon-arrow {
		display: none;
	}

	#home>.main-contents>.left .shrink {
		position: absolute;
		right: -65px;
		top: 0;
		height: 60px;
		width: 65px;
		line-height: 36px;
		border-radius: 0;
		background-color: $left-shrink-back;
		border: none;
		color: $left-shrink-font;
	}

	.el-menu {
		background-color: $left-menu-back  !important;
		border-right: none !important;
	}

	#home>.main-contents>.left .shrink:hover,
	#home>.main-contents>.left .shrink:active {
		background-color: #96c0ea;
	}

	#home>.main-contents>.right {
		height: 100%;
		//position: relative;
		//left: 250px;
		background-color: $baseColor;
		width: calc(100% - 250px);
		overflow: auto;
		//transition: all 1s ease 0s;
	}

	#home>.main-contents>.right>.contant {
		height: 100%;
		width: 100%;
	}

	#home>.main-contents>.right>.contant>.content {
		height: calc(100% - 40px);
		width: calc(100% - 40px);
		padding: 20px;
	}

	#home>.main-contents>.right .content .onePart {
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		background-color: $baseWhilt;
		border-radius: 5px;
		padding: 10px;
		overflow: auto;
		// box-shadow: 0 0 5px #dfe2c1, 0px 0px 5px #dfe2c1 inset;
		// border: 1px solid #fff;
	}

	#home>.main-contents>.right>.contant .chdiv {
		width: 100%;
		height: 100%;
	}

	#home>.main-contents>.right .contant.twoPart {
		width: calc(100% - 40px);
		height: calc(100% - 110px);
		margin: 20px;
		display: flex;
		flex-direction: row;
	}

	#home>.main-contents>.right .contant.twoPart>.listPart {
		width: 250px;
		height: 100%;
		background-color: $baseWhilt;
		border-radius: 5px;
		margin-right: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	#home>.main-contents>.right .contant.twoPart>.contant-right {
		height: 100%;
		width: calc(100% - 260px);
		margin-left: 10px;
	}

	#home>.main-contents>.right .contant.twoPart>.contant-right>.content {
		height: calc(100% - 40px);
		width: 100%;
	}

	#home .el-submenu.is-active .el-submenu__title .iconfont {
		font-size: 25px;
		color: $left-menu-active-icon;
	}

	.toolsT {
		display: inline-flex;
		width: calc(100% - 115px);
		min-width: 1220px;
	}

	.loginOut {
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		margin-right: 20px;
		width: 115px;
	}

	.loginOut .ge {
		color: $top-quit-ge;
		margin: 0 10px;
	}

	.loginOut .name {
		opacity: 0.7;
		font-size: 16px;
		color:$top-quit-name;
		font-weight: 600;
		letter-spacing: 0.23px;
	}

	.loginOut .icon-yonghu4 {
		color: $top-quit-icon;
		font-size: 32px;
		margin-right: 10px;
		// border: 2px solid #fff;
		// border-radius: 20px;
		// border-image: linear-gradient(#0B88FA, #5362D6) 2 2;
	}
	.oneMain{
		width: 100%;
		height: 100%;
	}