$quietMenu: #2b4266;
$baseWhilt: #fff; //#fff
$baseTMenu: #1c2b36;
$greyColor: #8291a1;
$greyOne: #575b69;

$baseColor: #fff;//内容部分背景色
$top-back:#006e6b;//头部背景色
$top-quit-ge:#b0b3b5;//头部退出分隔线颜色
$top-quit-name:#fffed9;//头部用户名颜色
$top-quit-icon:#5f7388;//头部icon
$top-title-color:#fff;//头部标题颜色
$left-title-font:#fafbea;//左侧导航标题字体颜色
$left-menu-border-color:#a8afb1;//左侧导航栏边框颜色
$left-menu-font:#fff;//左侧导航栏字体颜色
$left-menu-font-active:#f3f2c7;//左侧导航栏字体颜色(激活状态)
$left-menu-one-open:#f2faff;//左侧一级标题展开
$left-menu-back: #1c2b36;//左侧导航栏背景色
$left-menu-active-icon:#ffffea;//左侧导航栏高亮图标
$left-shrink-back:#8fb2d5;//左侧导航栏收缩框背景
$left-shrink-font:#fff;//左侧导航栏收缩框字体
//登录
$login-form-border:#2f8c89;
$login-form-shadow:#fff;
$login-form-title-font:#fff;
$login-border:#EEEEEE;
$login-font-color:#fff;
$login-input-back:rgba(3, 12, 41, 0.16);
$login-input-border-active:#469fe8;

$form-title-color:#808080;//提示颜色
$form-value-color:#3a3a3a;//值颜色

$shadow-color:#d8d8d8;//阴影颜色
$border-color:#ebebeb;//边框颜色
$border-split-color:#f1ece0;//分隔线颜色

$font-color:#3a3a3a;//字体颜色
$error-icon-color:#FF7043;//告警图标颜色
$error-font-color:#E64A19;//告警字体颜色
$error-back-color:#FBE9E7;//告警框背景
$error-border-color:#FF8A65;//告警边框颜色

$table-header-back-color:#fff;//表格头背景颜色
$table-header-font-color:#585858;//表格头字体颜色
$table-odd-back-color:#f5fcff;//表格奇数行背景颜色
$table-even-back-color:#fff;//表格偶数行背景颜色
$table-hover-back-color:#E6F7FF;//表格行HOVER背景颜色
$table-active-back-color:#ade5ff;//表格行选中背景颜色
$table-warning-back-color:#ffced1;//表格行1级报警背景
$table-warning1-back-color:#ffc5af;//表格行2级报警背景
$table-warning2-back-color:#ffe7af;//表格行3级报警背景
$table-border-color:#215d84;//表格边框颜色
$table-body-font-color:#000;//表格主体部分字体颜色
$table-tips-color:#8eccf1;//表格提示部分字体颜色
$card-shadow-color:#81D4FA;//card阴影颜色
 
$split-border-color:#ebeef5;//区分边框颜色
 
$dialog-header-back:linear-gradient(to right,  #13afab,#006e6b);//模态框头背景
$dialog-header-font:#fff;//模态框头字体颜色
$page-active-color:#0045ff;

